<!DOCTYPE html>
<html>
  <head>
    <title>Comedybook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Wit & Word</h1>
      <div class="header-list">
      <ul>
        <li><%= link_to "診断へ", perfumes_path %></li>
        <li><%= link_to "新規投稿",new_postingbook_path %></li>
        <% if user_signed_in? %>
     <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    <% else %>
     <li><%= link_to "新規登録", new_user_registration_path %></li>
     <li><%= link_to "ログイン", new_user_session_path %></li>
    <% end %>
      </ul>
      </div>
    </header>
    <main>
    <%= yield %>
     
    </main>
  </body>
</html>
